html {
    display: table;
    margin:auto;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@700&display=swap');

body{
	background-color: #c90404;
	margin:0px;
}


#pagecontainer {
	width: 800px;
	margin:0px;
	margin-top: 40px;
}

#title {
	height: 125px;
}



h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	text-align: center;
	font-size: 50px;
	margin-bottom:0px;
	font-style: italic;
}


#titletext {
	color:white;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top:0px;
	text-align:center;
	font-family: 'Cabin', sans-serif;
}

#signlog {
	background-color: #2a2a2a;
	height: 400px;
	width:500px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttons {
	display:flex;
	justify-content: space-between;
	margin-bottom: 50px;
	height: 20%;
}

#signup{
	background-color: #393939;
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
	height: 70px;
	width:300px;
	border:0px;
	font-size: 25px;
	text-align:center;
	outline: 0;
	cursor: pointer;
}

#login{
	background-color: #2a2a2a;
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
	height:70px;
	width:300px;
	border:0px;
	font-size:25px;
	text-align:center;
	outline: 0;
	cursor: pointer;
}

#inputs{
	text-align:center;
}

#username, #password{
	height: 40px;
	width: 80%;
	font-size:20px;
	margin-bottom: 20px;
	padding-left: 10px;
}



#create{
	background-color: #52e374;
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
	height:45px;
	width:150px;
	border:0px;
	font-size:20px;
	text-align:center;
	color:white;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
}

#create:hover {
  
    border: 2px solid #2FB553;
    color: black;
    cursor: pointer;
}


#create:disabled {
    cursor: not-allowed;
    color: #A8A8A8;
    background-color: #E3E3E3;
    border: 2px solid #E3E3E3;
}

#error {
    height: 20px;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

#error:empty {
    height: 20px;
   
}


#ref {
	color:white;
	text-decoration:none;
}

